@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-orange: hsl(26, 100%, 55%);
  --color-opacityOrange: hsl(26, 100%, 70%);
  --color-paleOrange: hsl(25, 100%, 94%);
  --color-VeryDarkBlue: hsl(220, 13%, 13%);
  --color-darkGrayishBlue: hsl(219, 9%, 45%);
  --color-grayishBlue: hsl(220, 14%, 75%);
  --color-lightGrayishBlue: hsl(223, 64%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --color-opacityWhite: hsl(0, 0%, 70%);
  --color-black: hsl(0, 0%, 0%);
  --color-transparentBlack: hsla(0, 0%, 0%, 0.7);

  --font-display: "Kumbh Sans", sans-serif;
}
